page-login {

    .login-content {
        padding: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 25%;
    }

    .login-content .button-login {
        margin-top: 30px;
    }
}
